Repository uc-cdis/gen3-qa, pull requests merged in 2020-10, with the labels that each got.

#472 chore(qa): Debug data file upload test
  utils/nodes.js
Labels: test-apis-dataUploadTest

#473 chore(load test): Navigate to study viewer
  load-testing/loadTestRunner.js
  load-testing/portal/study-viewer.js
  load-testing/sample-descriptors/load-test-study-viewer.json
Labels: automerge, test-portal-homepageTest

#475 chore(qa): Additional debugging line for the Data File Upload test
  utils/nodes.js
Labels: test-apis-dataUploadTest

#478 Fix classnames of tests to work with new version of portal
  services/portal/dataUpload/dataUploadProps.js
Labels: test-portal-rasAuthN

#480 chore(ci): Disable RAS tests (hopefully just temporarily)
  run-tests.sh
Labels: test-portal-homepageTest

#479 chore(qa): Add screenshot to homepageTest
  suites/portal/homepageTest.js
Labels: test-portal-homepageTest

#481 Add test plan for dataguid.org
  .github/workflows/automerge.yml
  docs/testplans/environment-specific/dataguidsorg-test-plan.md
Labels: doc-only

#483 task(qa): Access GUI tests
  suites/access/accessGUITest.js
Labels: test-portal-homepageTest

#485 Mariner tests - first cut
  .secrets.baseline
  run-tests.sh
  services/apis/mariner/marinerProps.js
  suites/mariner/marinerIntegrationTest.js
  suites/mariner/workflows/no_input_test/request_body.json
  suites/mariner/workflows/no_input_test/workflow/cwl/expressiontool_test.cwl
  suites/mariner/workflows/no_input_test/workflow/cwl/gen3_test.cwl
  suites/mariner/workflows/no_input_test/workflow/cwl/initdir_test.cwl
  suites/mariner/workflows/no_input_test/workflow/cwl/scatter_test.cwl
  suites/mariner/workflows/no_input_test/workflow/cwl/subworkflow_test.cwl
  suites/mariner/workflows/no_input_test/workflow/inputs.json
  suites/mariner/workflows/no_input_test/workflow/workflow.json
  utils/marinerUtil.js
  utils/user.js
Labels: test-portal-homepageTest

#487 chore(qa): Retry poetry install in case of any connectivity failures
  jenkins-simulate-data.sh
Labels: test-portal-homepageTest

#486 chore(qa): Take screenshots to debug portal-dataUploadTest
  services/portal/dataUpload/dataUploadSequences.js
  suites/portal/dataUploadTest.js
Labels: test-portal-dataUploadTest

#489 fix global var and add cancel test
  suites/mariner/marinerIntegrationTest.js
  utils/marinerUtil.js
Labels: test-portal-homepageTest
