Repository uc-cdis/gen3-qa, pull requests merged in 2020-05, with the labels that each got.

#314 Increase timeout of REST helper to mitigate socket hangup errors
  codecept.conf.js
Labels: test-google-googleDataAccessTest

#309 Chore/update api utils
  utils/apiUtil.js
Labels: test-portal-homepageTest

#316 fix(qa): Determine zero tests correctly
  run-tests.sh
Labels: test-google-googleDataAccessTest

#317 fix(qa): Only run indexing tests if data-portal >= 2.26.0
  run-tests.sh
Labels: test-google-googleDataAccessTest

#318 removed await for selenium calls where not required
  codecept.conf.js
  services/apis/fence/fenceTasks.js
Labels: test-apis-OAuth2Test

#319 chore(qa): Skip @manual test if it is running inside Jenkins
  run-tests.sh
  suites/portal/dataUploadTest.js
Labels: test-portal-dataUploadTest

#320 chore(qa): Trigger additional homepage refresh for covid19 pages
  services/portal/home/homeTasks.js
Labels: test-portal-homepageTest

#321 increasing codecept smart wait
  codecept.conf.js
  services/apis/fence/fenceTasks.js
  suites/apis/OAuth2Test.js
Labels: test-google-googleDataAccessTest

#324 use selenium hub
  codecept.conf.js
Labels: test-google-googleDataAccessTest

#325 some console.logs
  services/apis/drs/drsQuestions.js
Labels: test-google-googleDataAccessTest

#326 Feat/qa metrics to influxdb
  README.md
  hooks/test_results.js
  package-lock.json
  package.json
Labels: test-google-googleDataAccessTest

#327 Chore/test observability grafana dashboard json
  README.md
  grafana_test_observbility.json
Labels: test-google-googleServiceAccountTest

#328 updating README for influxdb setup steps
  README.md
Labels: doc-only

#329 task(qa): Improve Manifest Indexing test to comply with DIRM specs.
  suites/portal/indexingPageTest.js
Labels: test-portal-indexingPageTest

#331 modified run_tests bash to return non zero exit code on errors
  run-tests.sh
Labels: test-portal-homepageTest

#335 fix(qa): Suppress bash failures to grep the manifest-indexing configmap
  run-tests.sh
Labels: test-portal-homepageTest

#334 just testing GCP keys deletion
  Jenkinsfile
Labels: jenkins-niaid

#337 fix broken link for cloud-automation doc for selenium hub
  README.md
Labels: doc-only

#339 fix: property for covid19
  utils/apiUtil.js
Labels: test-google-googleDataAccessTest

#341 chore(qa): Increase timeout to check name of the loggedin user
  services/portal/home/homeQuestions.js
  services/portal/login/loginQuestions.js
Labels: test-portal-homepageTest

#343 chore(qa): Improve centralizedAuth test logic
  services/apis/indexd/indexdTasks.js
Labels: test-apis-centralizedAuth

#338 chore(qa): Set hardcoded pr number and repo name for local CI Metrics monitoring
  grafana_test_observability.json
  hooks/test_results.js
Labels: test-google-googleDataAccessTest

#344 fix(qa): Quick fix to unblock indexing GUI tests
  suites/portal/indexingPageTest.js
Labels: test-portal-indexingPageTest

#345 Chore/generate test plan
  .vscode/launch.json
  generate-test-plan.js
  package-lock.json
  package.json
  test-plan.xlsx
  test_list.txt
  test_list_auto.txt
  test_list_manual.txt
  utils/env.js
Labels: test-google-googleDataAccessTest

#346 fix(qa): Fix camel-case variables for DCF executable tests
  suites/pre-release/dcf/2.serviceAccountsRegistrationTest.js
Labels: test-google-googleServiceAccountTest

#348 Feat/add selenium metrics to grafana
  hooks/test_results.js
  package.json
Labels: test-apis-drsEndpointsTest
