Repository uc-cdis/gen3-qa, pull requests merged in 2020-06, with the labels that each got.

#349 added test cases for faceted search nested data
  suites/portal/dataExplorerTest.js
Labels: test-google-googleDataAccessTest

#352 doc(qa): Test plan for the metadata ingestion sower job
  docs/testplans/sower-jobs/metadata-ingestion-test-plan.md
Labels: doc-only

#351 chore(qa): Remove set -i due for bash 4.4 compatibility
  README.md
  publish-test-reports.sh
  suites/google/googleServiceAccountKeyTest.js
  utils/commanders/sshk8s.js
Labels: test-google-googleServiceAccountRemovalTest

#354 fix(qa): Fixing Gen3 CLI/PATH after Ubuntu 18 upgrade
  utils/commanders/sshk8s.js
Labels: test-portal-homepageTest

#360 fix(qa): Fix script to publish QA reports (gen3 command is not being recognized)
  publish-test-reports.sh
Labels: test-google-googleDataAccessTest

#362 added tests for data in explorer page
  suites/portal/dataExplorerTest.js
Labels: test-google-googleDataAccessTest

#365 chore(qa): CentralizedAuth - Move indexd records deletion to each scenario
  suites/apis/centralizedAuth.js
Labels: test-apis-centralizedAuth

#370 chore(qa): Try selenium4 again
  README.md
  check-pod-health.sh
  codecept.conf.js
  hooks/test_results.js
  package-lock.json
Labels: test-portal-homepageTest

#372 Revert "chore(qa): Try selenium4 again"
  README.md
  check-pod-health.sh
  codecept.conf.js
  hooks/test_results.js
  package-lock.json
Labels: test-portal-homepageTest

#371 chore(qa): Tweak webdriver config
  codecept.conf.js
Labels: test-portal-homepageTest

#373 fix(qa): Do not run @indexRecordConsentCodes scenarios when the submitAndQueryNodesTest label is applied
  run-tests.sh
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#374 disabling screenshots and updating test plan
  codecept.conf.js
  services/apis/fence/fenceTasks.js
  test-plan.xlsx
Labels: test-portal-homepageTest

#376 removing the recently added chromeOptions for testing
  codecept.conf.js
Labels: test-portal-loginPageTest

#378 disabling screenshots
  codecept.conf.js
Labels: test-google-googleDataAccessTest

#377 chore(qa): Handling CodeceptJS errors properly
  run-tests.sh
Labels: test-portal-indexingPageTest

#361 chore(qa): Load testing sheepdog
  .gitignore
  load-testing/libs/README.md
  load-testing/load-test-export-clinical-metadata.json
  load-testing/load-test-import-clinical-metadata.json
  load-testing/loadTestRunner.js
  load-testing/sheepdog/export-clinical-metada.js
  load-testing/sheepdog/import-clinical-metada.js
  package-lock.json
Labels: test-google-googleDataAccessTest

#381 prevent cells from merging while updating values for automated tests
  generate-test-plan.js
  test-plan.xlsx
Labels: test-google-googleDataAccessTest

#383 docker compose to bring up test infra locally
  README.md
  docker-compose-test-infra.yaml
Labels: test-google-googleServiceAccountTest

#384 Missing retry count in influx after switching to test.after
  .pre-commit-config.yaml
  hooks/test_results.js
Labels: test-google-googleDataAccessTest

#382 task(qa): Metadata Ingestion CI tests
  run-tests.sh
  suites/apis/metadataIngestionTest.js
  suites/portal/indexingPageTest.js
  utils/apiUtil.js
Labels: test-portal-indexingPageTest

#386 doc(qa): Expand metadata ingestion test plan based on latest changes
  docs/testplans/sower-jobs/metadata-ingestion-test-plan.md
Labels: doc-only
