Repository uc-cdis/gen3-qa, pull requests merged in 2020-12, with the labels that each got.

#488 chore : Study Viewer Automation tests
  run-tests.sh
  services/apis/requestor/requestorProps.js
  services/apis/requestor/requestorTasks.js
  services/portal/studyViewer/studyViewerProps.js
  services/portal/studyViewer/studyViewerTasks.js
  suites/portal/studyViewerTest.js
Labels: test-google-googleServiceAccountTest

#510 chore(qa): Track duration of tests in our CI Metrics.
  hooks/test_results.js
Labels: test-apis-etlTest

#514 chore(qa): Move etl es index checks outside the scenario blocks
  services/apis/etl/etlSequences.js
  suites/apis/etlTest.js
Labels: test-apis-etlTest

#515 chore(qa): Both /explorer and /files URLS are valid for the Analyze Data button
  suites/portal/landingPageButtonsTest.js
Labels: test-portal-landingPageButtonsTest

#512 chore(qa): Fix loginPageTest
  services/portal/home/homeSequences.js
  services/portal/login/loginQuestions.js
  services/portal/login/loginSequences.js
  services/portal/login/loginTasks.js
  suites/portal/loginPageTest.js
Labels: jenkins-brain, test-portal-homepageTest, test-portal-loginPageTest

#516 fix(qa): Fix ETL tests
  suites/apis/etlTest.js
Labels: test-apis-etlTest

#519 Fix/increase max attempts for etl polling
  suites/apis/etlTest.js
Labels: test-apis-etlTest

#521 fix(qa): Keep Selenium session alive during ETL tests
  suites/apis/etlTest.js
  suites/apis/metadataIngestionTest.js
  suites/batch/GoogleBucketManifestGenerationTest.js
  suites/batch/S3BucketManifestGenerationTest.js
  suites/google/googleDataAccessTest.js
  suites/portal/indexingPageTest.js
  utils/apiUtil.js
Labels: test-apis-etlTest, test-apis-metadataIngestionTest, test-google-googleDataAccessTest, test-portal-indexingPageTest

#518 Fix/http302 executable tests
  suites/pre-release/http302/fullQARoutine.js
  utils/apiUtil.js
Labels: automerge, test-portal-homepageTest

#495 task(qa): Introduce automated per-project Google bucket access check
  package-lock.json
  package.json
  suites/google/checkAllProjectsGoogleBucketAccessTest.js
Labels: test-portal-homepageTest

#522 Add scrollintoview to click button and fix the DRS expectation
  suites/portal/dataguidOrgTest.js
Labels: test-portal-homepageTest

#528 chore(qa): While running tests in PROD-tier absorb access token from env variable
  Dockerfile
  suites/google/checkAllProjectsGoogleBucketAccessTest.js
Labels: test-portal-homepageTest

#529 fix(qa): Fetch selenium status info from selenium-hub pod
  hooks/test_results.js
Labels: automerge, test-portal-homepageTest

#530 fix : fixing the homepage for midrc
  services/portal/home/homeTasks.js
Labels: automerge, test-portal-homepageTest

#531 chore(qa): Do not run landingPageButtonsTest if there are no buttons
  run-tests.sh
Labels: automerge, test-portal-landingPageButtonsTest

#532 chore(qa): New progress bar for gen3qa-run checks
  package-lock.json
  package.json
  suites/google/checkAllProjectsGoogleBucketAccessTest.js
Labels: test-portal-homepageTest

#533 chore(qa): Fix DCF executable tests
  suites/pre-release/dcf/4.preSignedURLTest.js
  suites/pre-release/dcf/5.oidcFlowTest.js
  suites/pre-release/dcf/6.indexdTest.js
Labels: automerge, test-portal-homepageTest

#513 fix(qa): Set codeceptjs3 syntax for access gui test scenarios
  suites/access/accessGUITest.js
Labels: automerge, test-portal-homepageTest

#535 fix(qa): Bucket Manifest CI must keep the Selenium session alive
  suites/batch/S3BucketManifestGenerationTest.js
Labels: automerge, test-portal-homepageTest

#536 chore(qa): Better debugging for data upload tests
  suites/portal/dataUploadTest.js
  utils/dataUpload.js
Labels: automerge, jenkins-blood, test-portal-dataUploadTest

#537 chore(qa): Increase the number of retries for data upload pod checks
  suites/portal/dataUploadTest.js
Labels: test-portal-dataUploadTest

#538 chore(security): Address security alert related to node-forge lib
  package-lock.json
  package.json
Labels: automerge

#540 chore(qa): Tweak RegisterGoogleServiceAccount test
  utils/google.js
Labels: automerge, test-google-googleServiceAccountTest
