Repository uc-cdis/gen3-qa, pull requests merged in 2020-09, with the labels that each got.

#456 chore(QA): Better executable tests for bdcat and anvil
  suites/pre-release/http302/fullQARoutine.js
  suites/pre-release/http302/fullQARoutine.js~
Labels: test-apis-dbgapTest

#459 fix google service account test
  suites/google/googleServiceAccountTest.js
Labels: test-google-googleServiceAccountTest

#460 task(bucket-manifest-generation): CI for gooble bucket manifest generation
  suites/batch/GoogleBucketManifestGenerationTest.js
  suites/batch/S3BucketManifestGenerationTest.js
  suites/pre-release/http302/fullQARoutine.js~
Labels: test-portal-homepageTest

#458 fix(qa): RangeError: Maximum call stack size exceeded.
  package.json
Labels: test-google-googleServiceAccountRemovalTest

#463 chore(qa): Enable RAS tests just for some repos
  run-tests.sh
Labels: automerge, test-portal-homepageTest

#464 debug(qa): Debugging data file upload test
  suites/apis/dataUploadTest.js
  utils/nodes.js
Labels: test-apis-dataUploadTest

#454 Add test plan for Limited file PFB export
  suites/portal/limitedFilePFBExportTestPlan.js
Labels: doc-only, test-portal-homepageTest

#466 Chore(qa): set default kubeconfig path
  utils/commanders/sshk8s.js
Labels: test-portal-homepageTest

#467 chore : output to summary reports
  load-testing/loadTestRunner.js
Labels: test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountTest

#469 negative tests for ras authn
  suites/portal/rasAuthN.js
  utils/rasAuthN.js
Labels: test-portal-rasAuthN

#470 Add quick test plan for explorer download manifest button
  suites/pre-release/http302/fullQARoutine.js
Labels: test-portal-homepageTest
