Repository uc-cdis/gen3-qa, pull requests merged in 2020-07, with the labels that each got.

#388 chore(qa): Refactor apiUtils
  package-lock.json
  package.json
  suites/portal/indexingPageTest.js
  utils/apiUtil.js
Labels: test-portal-indexingPageTest

#393 Chore(qa): Simple refactor for google tests again
  services/apis/fence/fenceTasks.js
  suites/apis/metadataIngestionTest.js
  suites/google/googleDataAccessTest.js
  suites/portal/indexingPageTest.js
  utils/apiUtil.js
  utils/google.js
Labels: test-google-googleDataAccessTest

#395 chore(qa): Increase timeouts for a few tests
  .secrets.baseline
  services/portal/dataUpload/dataUploadQuestions.js
  utils/apiUtil.js
Labels: test-google-googleDataAccessTest

#396 ignore 0 retries in reporting
  .vscode/launch.json
  hooks/test_results.js
Labels: test-google-googleDataAccessTest

#397 chore(qa): Wait a bit more for a 403 AccessDenied from Google Storage API call
  services/apis/fence/fenceTasks.js
  utils/google.js
Labels: test-google-googleDataAccessTest

#401 chore(qa): Add selected environment to CI metrics
  hooks/test_results.js
Labels: test-portal-homepageTest

#402 fix for COVID19: .map-chart to .covid19-dashboard_counts
  utils/apiUtil.js
Labels: test-portal-homepageTest

#399 remove unnecessary awaits
  services/apis/fence/fenceSequences.js
  services/apis/fence/fenceTasks.js
Labels: test-google-googleDataAccessTest

#403 added measure for tracking successful tests
  hooks/test_results.js
Labels: test-google-googleServiceAccountTest

#398 Revert "chore(qa): Wait a bit more for a 403 AccessDenied from Google Storage API call"
  services/apis/fence/fenceTasks.js
  utils/google.js
Labels: test-google-googleDataAccessTest

#407 doc(qa): Test Plan for Object Management API
  docs/testplans/obj-mgmt-api/obj-mgmt-api-test-plan.md
Labels: doc-only

#405 chore(qa): GoogleDataAccessTest - Move usersync to before block
  .secrets.baseline
  suites/google/googleDataAccessTest.js
  utils/google.js
Labels: test-google-googleDataAccessTest

#400 fix(qa): Import sleepMS into fenceTask
  services/apis/fence/fenceTasks.js
  utils/apiUtil.js
Labels: test-google-googleDataAccessTest

#408 fix(qa): Run one final usersync after the last google data access test scenario
  suites/google/googleDataAccessTest.js
Labels: test-portal-homepageTest

#410 chore(qa): Update test plan spreadsheet
  test-plan.xlsx
Labels: doc-only

#411 Task/better load tests for metadata service
  .gitignore
  load-testing/generate_jsons.js
  load-testing/load-test-random-jsons-sample.json
  load-testing/loadTestRunner.js
  load-testing/metadata-service/filter-large-database.js
  load-testing/metadata-service/templates/template-simple.hbs
  package-lock.json
  package.json
Labels: test-google-googleDataAccessTest

#412 doc(qa): Test Plan for Bucket Manifest Generation
  docs/testplans/bucket-manifest/bucket-manifest-test-plan.md
Labels: doc-only

#413 chore(qa): Allow override of the google dynamic project
  run-tests.sh
  services/apis/fence/fenceProps.js
Labels: test-portal-homepageTest

#415 fix(qa): Allow override of google service account's prj id
  services/apis/fence/fenceProps.js
Labels: test-portal-homepageTest

#417 task(qa): CI tests for bucket manifest generation
  docs/testplans/bucket-manifest/bucket-manifest-test-plan.md
  package-lock.json
  package.json
  run-tests.sh
  suites/batch/bucketManifestGenerationTest.js
Labels: test-google-googleDataAccessTest

#418 fix(qa): Annotate bucketManifestGenerationTest with @batch
  suites/batch/bucketManifestGenerationTest.js
Labels: test-portal-homepageTest

#421 Chore/fix google data access test flakiness
  .vscode/launch.json
  files/test2_user.yaml
  suites/google/googleDataAccessTest.js
  utils/commons.js
  utils/google.js
Labels: test-google-googleDataAccessTest

#420 PXP-6316 Fix/poetry data sim
  Dockerfile
  jenkins-simulate-data.sh
Labels: test-pidgin-getCoremetadataTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#423 chore(qa): Write metrics for data simulator
  jenkins-simulate-data.sh
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest
