Repository uc-cdis/gen3-qa, pull requests merged in 2020-04, with the labels that each got.

#284 initial guppy nested agg tests
  suites/bdd/features/api/guppy/nestedAggregation.feature
  suites/bdd/features/api/guppy/queries/elasticQuery1.txt
  suites/bdd/features/api/guppy/queries/elasticQuery2.txt
  suites/bdd/features/api/guppy/queries/guppyQuery1.txt
  suites/bdd/features/api/guppy/queries/guppyQuery2.txt
  suites/bdd/features/api/guppy/queries/guppyQuery3.txt
  suites/bdd/features/api/guppy/queries/guppyQuery4.txt
  suites/bdd/features/api/guppy/queries/guppyQuery5.txt
  suites/bdd/features/api/guppy/queries/variablesForQuery1.txt
  suites/bdd/features/api/guppy/queries/variablesForQuery2.txt
  suites/bdd/features/api/guppy/queries/variablesForQuery3.txt
  suites/bdd/features/api/guppy/queries/variablesForQuery4.txt
  suites/bdd/features/api/guppy/queries/variablesForQuery5.txt
Labels: doc-only

#294 chore(qa): Always set @reqGoogle for label-based retries
  run-tests.sh
Labels: test-google-googleDataAccessTest

#295 fix(qa): Set default value for selectedTest
  run-tests.sh
Labels: test-google-googleDataAccessTest

#292 chore(qa): Add timestamp to test.finished hook to assist with debugging
  hooks/test_results.js
  suites/google/googleDataAccessTest.js
Labels: test-google-googleDataAccessTest

#297 fix(qa): Apply @reqGoogle only if the tag is found
  run-tests.sh
Labels: test-google-googleDataAccessTest

#298 chore(qa): Custom health check for dataguids.org
  check-pod-health.sh
  run-tests.sh
Labels: test-portal-homepageTest

#299 Chore/custom health check for dataguids org
  check-pod-health.sh
Labels: test-portal-homepageTest

#301 Chore/add login redirect tests
  codecept.conf.js
  run-tests.sh
  services/portal/explorer/explorerProps.js
  services/portal/explorer/explorerQuestions.js
  services/portal/explorer/explorerTasks.js
  services/portal/login/loginProps.js
  services/portal/login/loginQuestions.js
  services/portal/login/loginSequences.js
  services/portal/login/loginService.js
  services/portal/login/loginTasks.js
  suites/portal/homepageTest.js
  suites/portal/loginPageTest.js
Labels: test-apis-etlTest

#303 fix(qa): Skip @dataClientCLI for dataUpload labeled tests
  run-tests.sh
Labels: test-apis-dataUploadTest

#304 chore(qa): Fail faster on data upload tests
  suites/apis/dataUploadTest.js
  utils/dataUpload.js
Labels: test-google-googleDataAccessTest

#305 chore(qa): Fail PR Check if Zero tests are executed
  run-tests.sh
  suites/fail.js
Labels: test-apis-dataUploadTest

#302 fix:change to homepage test for covid19
  utils/apiUtil.js
Labels: test-google-googleDataAccessTest
