Repository uc-cdis/gen3-qa, pull requests merged in 2020-08, with the labels that each got.

#427 Chore/fix google test flakiness
  suites/google/googleDataAccessTest.js
  utils/google.js
Labels: test-google-googleDataAccessTest

#432 fix(qa): Setting correct conditions for AuthN tests
  run-tests.sh
Labels: test-apis-rasIntegrationTest

#433 fix(qa): Do not run RAS tests for fence:2020.08
  run-tests.sh
Labels: test-apis-rasIntegrationTest

#430 add test for login redirect with query params
  suites/portal/loginPageTest.js
Labels: test-portal-loginPageTest

#434 fix(qa): Fix sheepdog's load tests
  load-testing/load-test-export-clinical-metadata.json
  load-testing/load-test-import-clinical-metadata.json
  load-testing/loadTestRunner.js
  load-testing/sheepdog/export-clinical-metadata.js
  load-testing/sheepdog/import-clinical-metada.js
  load-testing/sheepdog/import-clinical-metadata.js
Labels: test-apis-dbgapTest

#436 add automerge gh action to gen3-qa
  .github/workflows/automerge.yml
Labels: doc-only

#431 core(qa): Introduce CleverSafe PreSigned URL test
  run-tests.sh
  suites/apis/cleverSafeTest.js
Labels: automerge, test-apis-cleverSafeTest

#422 fix(qa): Fix exec. tests for DCF pre-release testing
  suites/pre-release/dcf/1.linkAccountsTest.js
Labels: automerge

#435 fix(qa): Fix everything for load tests
  docs/tutorial/loadtesting.md
  load-testing/loadTestRunner.js
  load-testing/metadata-service/filter-large-database.js
  load-testing/sample-descriptors/load-test-basic-auth-sample.json
  load-testing/sample-descriptors/load-test-descriptor-sample.json
  load-testing/sample-descriptors/load-test-export-clinical-metadata.json
  load-testing/sample-descriptors/load-test-import-clinical-metadata.json
  load-testing/sample-descriptors/load-test-override-access-token-sample.json
  load-testing/sample-descriptors/load-test-random-jsons-sample.json
  load-testing/sample-descriptors/load-test-stress-sample.json
Labels: automerge

#437 fix(qa): Set correct github token for automerge gh action
  .github/workflows/automerge.yml
Labels: automerge

#390 chore(qa): Test Everything.
  .secrets.baseline
Labels: automerge, test-pidgin-getCoremetadataTest, test-portal-homepageTest

#438 pfb export to workspace test plan
  docs/testplans/pfb/pfb-export-to-workspace.md
Labels: doc-only

#439 fix(qa): Grant RAS consent if expired
  suites/apis/rasIntegrationTest.js
Labels: automerge, test-apis-rasIntegrationTest

#441 task(RAS Auth N): Improve aud/scope checks and add refresh token scenario
  suites/apis/rasIntegrationTest.js
Labels: test-apis-rasIntegrationTest

#442 fix(qa): Fix CleverSafe test
  .secrets.baseline
  suites/apis/cleverSafeTest.js
Labels: test-apis-cleverSafeTest

#447 fix(qa): Fix quarter filter on QA reports landing page
  files/qa_reports_landing_page/script.js
  publish-test-reports.sh
Labels: test-google-googleServiceAccountRemovalTest

#450 chore(qa): Temporarily disable ras tests due to issues with credentias
  run-tests.sh
Labels: test-portal-homepageTest

#449 test : adding tests for study viewer
  suites/portal/studyViewerTest.js
Labels: test-apis-metadataIngestionTest

#451 Revert "chore(qa): Temporarily disable ras tests due to issues with credentias"
  run-tests.sh
Labels: automerge, test-apis-rasIntegrationTest
