Repository uc-cdis/gen3-qa, pull requests merged in 2020-01, with the labels that each got.

#219 chore(debug): Improve debugging / logging to investigate flaky tests
  suites/google/googleServiceAccountKeyTest.js
Labels: WIP, my-test

#222 chore(qa): Deleting all SA keys before test scenarios + Refactoring and additional debugging to investigate intermittent issues
  package.json
  services/apis/fence/fenceProps.js
  services/apis/fence/fenceQuestions.js
  services/apis/fence/fenceSequences.js
  services/apis/fence/fenceTasks.js
  suites/apis/OAuth2Test.js
  suites/apis/dbgapTest.js
  suites/apis/exportToWorkspaceTest.js
  suites/google/googleDataAccessTest.js
  suites/google/googleServiceAccountKeyTest.js
  test_setup.js
  utils/apiUtil.js
Labels: debug

#233 enable creation of executable tests in bdd
  .eslintrc.js
  codecept.conf.js
  suites/bdd/features/sample/sample.feature
  suites/bdd/step_definitions/executable/executable.js
  suites/bdd/step_definitions/sample/sample.js
Labels: jenkins-niaid

#231 chore(Stage): Scripts to run the biodatacatalyst section 508 compliance reports
  package-lock.json
  package.json
  scripts/section508_compliance.sh
  utils/section508.js
Labels: Stage, jenkins-niaid
