Repository uc-cdis/gen3-qa, pull requests merged in 2021-09, with the labels that each got.

#688 adding monthly version check to run agg mds tests
  run-tests.sh
Labels: test-apis-dbgapTest, automerge, test-portal-discoveryPageTest

#689 Remove Visa Check
  suites/apis/rasIntegrationTest.js
Labels: test-google-googleServiceAccountRemovalTest

#690 fix(ga4gh): use specified GA4GH endpoint, not indexd-specific exposur…
  docs/testplans/environment-specific/dataguidsorg-test-plan.md
  hooks/test_results.js
  load-testing/indexd/drs-endpoint.js
  services/apis/drs/drsProps.js
Labels: test-portal-homepageTest

#674 task(ci-observability): Send CI metrics to Datadog
  hooks/test_results.js
  package-lock.json
  package.json
Labels: test-portal-homepageTest, automerge

#691 chore(qa-reports): Backup the qa-reports landing page code
  files/qa-reports/img/gen3-home-logo.svg
  files/qa-reports/index.html
  files/qa-reports/js/jquery-1.3.2.min.js
  files/qa-reports/js/script.js
  files/qa-reports/style.css
Labels: test-portal-homepageTest, automerge

#694 fix logic for discovery page
  run-tests.sh
Labels: test-portal-homepageTest

#695 Updating the WebDriver URL
  codecept.conf.js
  gen3.qa.in.a.box.codecept.conf.js
Labels: test-portal-homepageTest

#696 Download a pinned version of chromedriver
  run-tests.sh
Labels: jenkins-dcp, gen3-qa-in-a-box

#698 Make K8s.runCommand err msg more clear
  utils/commanders/k8s.js
Labels: test-google-googleServiceAccountTest

#693 fix(ci-metrics): Gauge for test duration and counters for pass & fail counts
  hooks/test_results.js
  run-tests.sh
Labels: jenkins-dcp, test-portal-homepageTest, test-apis-etlTest

#699 fix(ga4gh_drs): no token should result in 401, not 403
  .secrets.baseline
  package-lock.json
  package.json
  run-tests.sh
  services/apis/drs/drsProps.js
  services/apis/fence/fenceProps.js
  services/apis/fence/fenceTasks.js
  suites/apis/drsEndpointsTest.js
Labels: test-apis-drsEndpointsTest

#701 use kube job for agg mds sync
  services/apis/mds/mdsTasks.js
Labels: test-portal-homepageTest

#703 version for kube job to sync agg mds
  run-tests.sh
Labels: test-portal-homepageTest

#704 Feat/drs performance
  docs/tutorial/loadtesting.md
  jenkins-simulate-data.sh
  load-testing/ga4gh/drs-performance.js
  load-testing/loadTestRunner.js
  load-testing/sample-descriptors/load-test-ga4gh-drs-performance-sample.json
Labels: test-portal-homepageTest

#706 chore(ci): Do not interrupt CI if influxdb is down
  jenkins-simulate-data.sh
Labels: test-portal-homepageTest, automerge

#707 Fix audit tests: Fence deployment now has a single container
  services/apis/auditService/auditServiceTasks.js
Labels: test-apis-auditServiceTest
