Repository uc-cdis/gen3-qa, pull requests merged in 2021-04, with the labels that each got.

#593 updating influxdb version in docker-compose.yaml
  docker-compose-test-infra.yaml
Labels: test-portal-homepageTest

#596 chore(data-manifest-qa): Introduce indexing manifest QA script
  scripts/data-manifest-qa-cli.py
Labels: test-portal-homepageTest

#595 chore(ci-metrics): Update observability dashboard
  grafana_test_observability.json
Labels: automerge, test-portal-homepageTest

#599 chore(open-source): Create a copy of forked-repo branches to support the CI of open source contributions
  files/jenkins-job-create-testing-image-for-external-contributors.sh
Labels: test-portal-homepageTest

#572 second iteration of study-viewer tests
  .secrets.baseline
  run-tests.sh
  services/apis/requestor/requestorTasks.js
  services/portal/studyViewer/studyViewerProps.js
  services/portal/studyViewer/studyViewerTasks.js
  suites/portal/studyViewerTest.js
Labels: automerge, jenkins-niaid, test-portal-studyViewerTest

#601 adding session count logging to homepage test
  suites/portal/homepageTest.js
Labels: test-portal-homepageTest

#603 debug(manifestservice): Additional debugging for exportToWorkspaceTest
  services/apis/manifestService/manifestServiceTasks.js
Labels: test-apis-exportToWorkspaceTest

#604 update version of google cloud storage package
  package-lock.json
  package.json
Labels: test, test-portal-homepageTest

#575 Add Discovery Page test plan
  suites/portal/discoveryPageTestPlan.js
Labels: doc-only, test-portal-homepageTest

#602 fixing the study-viewer test for Jenkins env
  services/apis/requestor/requestorTasks.js
  services/portal/studyViewer/studyViewerProps.js
  suites/portal/studyViewerTest.js
Labels: jenkins-niaid, test-portal-studyViewerTest

#607 chore(test-metadata): Introduce script to list all test suites in label format
  scripts/list-all-test-suites-for-ci.py
Labels: test-portal-homepageTest

#38 feat(contributing.md): init guidelines
  docs/CONTRIBUTING.md
Labels: automerge, doc-only

#525 doc(qa): Add GWAS frontend test plan
  docs/testplans/GWAS/GWAS_frontend_test_plan.md
Labels: doc-only

#609 updating the test plan for study viewer tests
  docs/testplans/study-viewer/study-viewer.md
Labels: doc-only
