Repository uc-cdis/gen3-qa, pull requests merged in 2021-03, with the labels that each got.

#573 chore(load-testing): Select new hardcoded study for sheepdog import script
  load-testing/sheepdog/import-clinical-metadata.js
Labels: automerge, test-portal-homepageTest

#567 task(qa): Load testing script to create tons of indexd records
  load-testing/indexd/create-indexd-records.js
  load-testing/loadTestRunner.js
  load-testing/sample-descriptors/load-test-create-indexd-records.json
Labels: automerge, test-portal-homepageTest

#576 fix(bucket-manifest-ci): remove codeceptjs3 curly-bracket notation added by accident
  suites/batch/S3BucketManifestGenerationTest.js
Labels: automerge, test-portal-homepageTest

#578 fix(qa): skip submission page check for midrc data upload flow
  suites/portal/dataUploadTest.js
Labels: automerge, test-portal-dataUploadTest

#579 fix(qa): skip submission page check for midrc
  suites/portal/dataUploadTest.js
Labels: test-portal-dataUploadTest

#580 task(ci-debugging): Create wrapper for selenium-node-chrome to manipulate config
  selenium-wrappers/selenium-node-chrome/Dockerfile
  selenium-wrappers/selenium-node-chrome/generate_config
Labels: automerge, test-portal-homepageTest

#586 fix: Homepage test for niaid
  utils/apiUtil.js
Labels: test-portal-homepageTest

#587 qa(fix): wait page fully loaded before screenshot
  services/portal/home/homeTasks.js
Labels: test-portal-homepageTest

#588 disabling the RASAuthN tests
  run-tests.sh
Labels: test-apis-dbgapTest

#589 disabling StudyViewertest
  run-tests.sh
Labels: test-portal-homepageTest

#590 PXP-7806 Add audit service test plan
  .pre-commit-config.yaml
  .secrets.baseline
  docs/testplans/_template-test-plan_.md
  docs/testplans/audit-service-test-plan.md
Labels: doc-only

#592 Task: Enable browser log helper
  codecept.conf.js
  helpers/browserLogHelper.js
  services/portal/home/homeTasks.js
Labels: test-portal-homepageTest
