Repository uc-cdis/gen3-qa, pull requests merged in 2021-05, with the labels that each got.

#620 set keepSessionAlive to false for etl tests
  suites/apis/etlTest.js
Labels: test-apis-etlTest

#622 Fix: delete files uploaded by metadataIngestionTest
  suites/portal/dataUploadTest.js
Labels: test-apis-metadataIngestionTest, test-portal-dataUploadTest

#608 chore(load-testing): Create load testing script for DRS Objects endpoint
  load-testing/indexd/drs-endpoint.js
  load-testing/loadTestRunner.js
  load-testing/sample-descriptors/load-test-drs-endpoint-bottleneck-sample.json
Labels: test-portal-homepageTest

#624 fix test name
  suites/apis/dcfDataReplicationTest.js
Labels: test-portal-homepageTest
