Repository uc-cdis/gen3-qa, pull requests merged in 2021-11, with the labels that each got.

#721 handle data use popup
  .vscode/launch.json
  services/portal/exportToWorkspace/exportToWorkspaceSequences.js
  services/portal/exportToWorkspace/exportToWorkspaceTasks.js
  services/portal/home/homeSequences.js
  services/portal/home/homeTasks.js
  services/portal/indexing/indexingTasks.js
  suites/apis/OAuth2Test.js
  suites/apis/auditServiceTest.js
  suites/portal/coremetadatapageTest.js
  suites/portal/dataUploadTest.js
  suites/portal/discoveryPageTest.js
  suites/portal/exportToWorkspaceTest.js
  suites/portal/homepageTest.js
  suites/portal/indexingPageTest.js
  suites/portal/landingPageButtonsTest.js
  suites/portal/loginPageTest.js
Labels: test-apis-centralizedAuth

#722 fix: wait on aggmds sync job
  suites/apis/aggMDSTest.js
  suites/portal/discoveryPageTest.js
Labels: test-portal-discoveryPageTest, test-apis-aggMDSTest

#723 check if pods are terminating
  services/apis/auditService/auditServiceTasks.js
Labels: test-portal-homepageTest

#724 handle popup message at logout
  services/portal/exportToWorkspace/exportToWorkspaceTasks.js
  services/portal/home/homeSequences.js
  services/portal/home/homeTasks.js
  suites/apis/auditServiceTest.js
  suites/portal/coremetadatapageTest.js
  suites/portal/dataUploadTest.js
  suites/portal/exportToWorkspaceTest.js
  suites/portal/homepageTest.js
Labels: test-apis-dbgapTest

#708 Chore/add registration user to download data tests
  run-tests.sh
  services/portal/home/homeQuestions.js
  suites/portal/registerUserTest.js
Labels: test-portal-homepageTest

#725 check the popup box by the accept button
  services/portal/home/homeProps.js
  services/portal/home/homeTasks.js
Labels: test-portal-homepageTest

#726 chore(retries): add/increase retries for commonly flaky tests
  suites/apis/auditServiceTest.js
  suites/apis/dbgapTest.js
  suites/apis/drsEndpointsTest.js
  suites/google/googleServiceAccountRemovalTest.js
  suites/google/googleServiceAccountTest.js
  suites/portal/pfbExportTest.js
  suites/sheepdogAndPeregrine/submitFileTest.js
Labels: test-apis-aggMDSTest

#727 Fix/change fence config in before and after suite
  suites/portal/registerUserTest.js
Labels: test-portal-homepageTest

#728 Updating the pre-req docs with more details
  suites/pre-release/dcf/prereq.md
Labels: doc-only

#732 not checking the cards on homePage
  services/portal/home/homeQuestions.js
Labels: test-portal-homepageTest

#730 Fix/skip indexd tests if not deployed
  run-tests.sh
  suites/apis/cleverSafeTest.js
  suites/apis/presignedUrlTest.js
  suites/pidgin/getCoremetadataTest.js
  suites/portal/coremetadatapageTest.js
  suites/sheepdogAndPeregrine/submitFileTest.js
Labels: test-google-googleServiceAccountTest, test-apis-aggMDSTest
