Repository uc-cdis/gen3-qa, pull requests merged in 2021-08, with the labels that each got.

#666 qa/add debugging lines and check status to mariner tests
  suites/mariner/marinerIntegrationTest.js
Labels: test-portal-homepageTest

#668 task(gen3-qa-in-a-box): Run tests within a container/pod with selenium-standlone
  Dockerfile
  gen3.qa.in.a.box.codecept.conf.js
  package-lock.json
  package.json
Labels: test-portal-homepageTest

#667 chore/add_aggregate_mds_test
  run-tests.sh
  services/apis/mds/mdsProps.js
  services/apis/mds/mdsQuestions.js
  services/apis/mds/mdsService.js
  services/apis/mds/mdsTasks.js
  suites/apis/aggMDSTest.js
Labels: test-portal-homepageTest

#669 fix : to evaluate the env for eligibility for running the test
  run-tests.sh
Labels: test-portal-homepageTest

#671 chore(homepageTest): save screenshot after login.
  suites/portal/homepageTest.js
Labels: test-portal-homepageTest

#670 chore(ci): Try Kubernetisized pipeline.
  run-tests.sh
Labels: test-portal-homepageTest

#675 adding commands for mutating guppy index
  suites/portal/studyViewerTest.js
Labels: jenkins-niaid, test-portal-studyViewerTest

#676 fix(tests): tests for BRH, HEAL
  utils/apiUtil.js
Labels: test-portal-homepageTest

#678 Adding debugging lines in BeforeSuite
  suites/portal/studyViewerTest.js
Labels: jenkins-genomel, test-portal-studyViewerTest

#680 changes for Agg MDS
  run-tests.sh
  services/apis/mds/mdsTasks.js
  services/portal/discovery/discoveryQuestions.js
  suites/portal/discoveryPageTest.js
Labels: test-google-googleServiceAccountTest

#681 fix aggmds check in run-tests
  run-tests.sh
Labels: test-portal-homepageTest

#679 fix(pfb-test): Determine presence of export-to-pfb button on Explorer page.
  hooks/test_results.js
Labels: test-portal-pfbExportTest

#683 fix disco page for agg mds
  services/portal/discovery/discoveryTasks.js
  suites/portal/discoveryPageTest.js
Labels: jenkins-brain, test-portal-homepageTest

#687 Chore/discovery page test
  run-tests.sh
  suites/portal/discoveryPageTest.js
Labels: jenkins-niaid, test-portal-discoveryPageTest
