Repository uc-cdis/gen3-qa, pull requests merged in 2021-01, with the labels that each got.

#542 chore(qa): Disable RAS tests temporarily
  run-tests.sh
Labels: test-portal-homepageTest

#543 debug: screenshot for coremetadata tests
  suites/portal/coremetadatapageTest.js
Labels: automerge, test-apis-dbgapTest, test-portal-dataUploadTest

#546 chore(qa): Adjust time length for load tests to facilitate benchmarking between releases
  load-testing/sample-descriptors/load-test-basic-auth-sample.json
  load-testing/sample-descriptors/load-test-descriptor-sample.json
  load-testing/sample-descriptors/load-test-fence-presigned-url-stress-sample.json
  load-testing/sample-descriptors/load-test-fence-service-account-patching-sample.json
  load-testing/sample-descriptors/load-test-metadata-service-create-and-query-sample.json
  load-testing/sample-descriptors/load-test-metadata-service-large-database-sample.json
  load-testing/sample-descriptors/load-test-presigned-url-benchmarking-sample.json
  load-testing/sample-descriptors/load-test-presigned-url-bottleneck-sample.json
  load-testing/sample-descriptors/load-test-sheepdog-export-clinical-metadata.json
  load-testing/sample-descriptors/load-test-sheepdog-import-clinical-metadata.json
  load-testing/sample-descriptors/load-test-stress-sample.json
Labels: automerge, test-portal-homepageTest

#545 increase the wait time for the coremetadata page
  services/portal/coreMetadataPage/coreMetadataPageTasks.js
Labels: test-pidgin-getCoremetadataTest

#539 feat : HEAL Project study viewer tier access support
  docs/testplans/study-viewer-HEAL/study-viewer-HEAL.md
Labels: doc-only

#548 chore(qa): Fix some load testing code.
  load-testing/sample-descriptors/load-test-metadata-service-large-database-sample.json
  load-testing/sample-descriptors/load-test-sheepdog-import-clinical-metadata.json
Labels: automerge, test-portal-homepageTest

#547 chore(qa): Increase max retries for Data Upload Test
  suites/portal/dataUploadTest.js
Labels: automerge, test-portal-dataUploadTest

#363 chore(qa): Enable google tests for bdcat staging
  run-tests.sh
Labels: automerge, test-portal-homepageTest

#550 fix(qa): alternative click approach for dataguids.org GUID resolver
  suites/portal/dataguidOrgTest.js
Labels: test-portal-homepageTest

#552 fix(bucket-manifest-ci): CodeceptJS 3 syntax accidentally broke a forEch block
  suites/batch/GoogleBucketManifestGenerationTest.js
Labels: automerge, test-portal-homepageTest

#554 fix(bucket-manifest-test): Keep session alive as Selenium4 kills it after 5 minutes
  suites/batch/GoogleBucketManifestGenerationTest.js
Labels: test-portal-homepageTest

#551 chore(ci): Add retries to data upload test
  suites/portal/dataUploadTest.js
Labels: test-portal-dataUploadTest

#556 fix(qa): Fix Google Service Account Key test
  suites/google/googleServiceAccountKeyTest.js
Labels: automerge, test-portal-homepageTest

#557 chore(qa): Improve check and debugging for googleServiceAccountKeyTest
  services/apis/fence/fenceSequences.js
  suites/google/googleServiceAccountKeyTest.js
Labels: test-google-googleServiceAccountKeyTest

#555 chore(qa): Debugging the data upload file test (s3 upload)
  suites/portal/dataUploadTest.js
  utils/apiUtil.js
Labels: automerge, test-apis-dataUploadTest, test-portal-dataUploadTest, test-portal-indexingPageTest

#558 fix(dcf): Set healthy selenium images for docker-compose and remove duplicate scenarios from dcf executable tests
  docker-compose-test-infra.yaml
  suites/pre-release/dcf/1.linkAccountsTest.js
  suites/pre-release/dcf/2.serviceAccountsRegistrationTest.js
Labels: automerge, test-portal-homepageTest

#560 fix: fixing screenshot for Homepage Test
  services/portal/home/homeTasks.js
  suites/portal/homepageTest.js
Labels: automerge, test-portal-dataUploadTest

#561 fix(simulate-data): poetry handling
  jenkins-simulate-data.sh
Labels: test-sheepdogAndPeregrine-submitFileTest

#509 chore(qa): Experimenting with CodeceptJS Helper _after hook
  helpers/cdisHelper.js
Labels: automerge, test-portal-homepageTest
