Repository uc-cdis/gen3-qa, pull requests merged in 2021-06, with the labels that each got.

#625 chore(audit-service): load test script
  load-testing/audit-service/Audit-service.md
  load-testing/audit-service/audit-login.js
  load-testing/audit-service/audit-presigned-url.js
  load-testing/sample-descriptors/load-test-audit-login-sample.json
  load-testing/sample-descriptors/load-test-audit-presigned-urls-sample.json
Labels: test-pidgin-getCoremetadataTest

#627 fixing the revoke access in the after suite
  suites/portal/studyViewerTest.js
Labels: test-apis-dbgapTest

#630 added a manual e2e test for pre-release testing
  suites/pre-release/heal/e2e.js
Labels: test-portal-homepageTest

#632 fix publish reports
  publish-test-reports.sh
Labels: test-portal-homepageTest

#633 Fix(prod-test): Also scan s3 buckets in access check script
  run-tests.sh
  scripts/list-all-test-suites-for-ci.py
  suites/prod/checkAllProjectsBucketAccessTest.js
Labels: test-portal-homepageTest

#637 doc(qa): Update MDS Test Plan
  docs/testplans/sower-jobs/metadata-ingestion-test-plan.md
Labels: automerge, doc-only

#638 chore(ci): Re-enable RAS Integration tests
  run-tests.sh
Labels: automerge, test-apis-rasIntegrationTest

#640 update home page test for heal bundle
  utils/apiUtil.js
Labels: test-portal-homepageTest

#639 Update README.md
  README.md
Labels: doc-only
