Repository uc-cdis/gen3-qa, pull requests merged in 2021-12, with the labels that each got.

#733 Update discoveryPageTest.js
  suites/portal/discoveryPageTest.js
Labels: test-portal-discoveryPageTest

#734 chore: update the test execution steps for pre-release
  suites/pre-release/dcf/prereq.md
Labels: doc-only

#736 add support for running tests locally on arm64 processor based machines
  .secrets.baseline
  README.md
  docker-compose-test-infra-arm64.yaml
Labels: test-portal-homepageTest

#735 Delete retry for creating new indices in pfbExportTest
  suites/portal/pfbExportTest.js
Labels: jenkins-new, test-apis-aggMDSTest

#738 Update chromedriver version
  run-tests.sh
Labels: test-portal-homepageTest

#737 Chore/study viewer qa niaid runtest
  run-tests.sh
Labels: test-portal-discoveryPageTest
