Repository uc-cdis/gen3-qa, pull requests merged in 2021-07, with the labels that each got.

#645 donot check portal health when not deployed
  check-pod-health.sh
Labels: test-portal-homepageTest

#646 Chore/test heal without moon
  codecept.conf.js
  run-tests.sh
  services/portal/home/homeTasks.js
Labels: test-portal-dataUploadTest, test-portal-indexingPageTest

#644 PXP-7807 Audit-service tests
  .secrets.baseline
  codecept.conf.js
  docs/testplans/audit-sevice/audit-service-test-plan.md
  run-tests.sh
  services/apis/auditService/auditService.js
  services/apis/auditService/auditServiceProps.js
  services/apis/auditService/auditServiceTasks.js
  services/apis/indexd/indexdTasks.js
  suites/apis/auditServiceTest.js
  suites/apis/rasIntegrationTest.js
  suites/portal/rasAuthN.js
  utils/apiUtil.js
  utils/commanders/sshk8s.js
  utils/rasAuthN.js
Labels: test-apis-auditServiceTest

#649 fix(guppy-ci): Mutate guppy config to point to Canine indices before running tests
  Jenkinsfile
  suites/guppy/guppyTest.js
Labels: jenkins-dcp, test-guppy-guppyTest, test-portal-homepageTest

#650 PXP-7807 Do not run audit-service tests if version <1.0.0
  run-tests.sh
Labels: test-apis-auditServiceTest

#652 getServiceVersion: handle service names with dash
  run-tests.sh
Labels: test-apis-auditServiceTest

#636 task(pfb-export): FINALLY! The E2E PFB Export test.
  run-tests.sh
  services/portal/login/loginProps.js
  suites/portal/pfbExportTest.js
  utils/apiUtil.js
Labels: jenkins-dcp, test-apis-etlTest, test-guppy-guppyTest, test-portal-pfbExportTest

#654 fix bucketname logic
  suites/portal/dataUploadTest.js
Labels: test-apis-dataUploadTest, test-portal-dataUploadTest

#656 fix(pfb-export): Fix polling logic to indentify PR indices
  README.md
  suites/portal/pfbExportTest.js
Labels: test-portal-pfbExportTest

#657 Do not run audit-service tests if fence version is too old
  run-tests.sh
Labels: test-apis-auditServiceTest

#658 fix(pfb-export): Run py3.8 for pyPfb parsing assertion
  suites/portal/pfbExportTest.js
Labels: test-portal-pfbExportTest

#659 Log simulated data to facilitate debugging
  jenkins-simulate-data.sh
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#653 chore(ci): Improve stability of the Guppy test
  suites/guppy/guppyTest.js
Labels: automerge, test-guppy-guppyTest

#660 Study viewer tests: fix references to the current env
  suites/portal/studyViewerTest.js
Labels: jenkins-niaid, test-portal-studyViewerTest

#661 fix(pfb-export-test): Use sequencing node when testedEnv includes anvil
  suites/portal/pfbExportTest.js
Labels: test-portal-homepageTest

#647 add back capturing browser logs
  codecept.conf.js
  run-tests.sh
Labels: test-portal-homepageTest

#662 fix(pfb-export): Refactor logic to use proper targetMappingNode
  suites/portal/pfbExportTest.js
Labels: jenkins-brain, test-portal-pfbExportTest

#663 chore(ci): Tweak PFB Export test
  hooks/test_results.js
  suites/portal/pfbExportTest.js
Labels: jenkins-blood, test-portal-pfbExportTest

#665 fix(pfx-export-test): Tweak assertions based on specific Data Dictionaries
  suites/portal/pfbExportTest.js
Labels: test-portal-pfbExportTest

#664 fix(run-test.sh): Improve the studyViewer code
  run-tests.sh
Labels: test-apis-dbgapTest
