Repository uc-cdis/gen3-qa, pull requests merged in 2022-01, with the labels that each got.

#740 fix html and update the quarters to recent ones
  files/qa-reports/index.html
Labels: test-portal-homepageTest

#741 support dropdown in register user test
  suites/portal/registerUserTest.js
Labels: test-portal-homepageTest

#742 chore: adding tags to test at Feature level
  run-tests.sh
  services/apis/mds/mdsTasks.js
  suites/access/accessGUITest.js
  suites/apis/OAuth2Test.js
  suites/apis/aggMDSTest.js
  suites/apis/auditServiceTest.js
  suites/apis/centralizedAuth.js
  suites/apis/dataUploadTest.js
  suites/apis/dbgapTest.js
  suites/apis/drsEndpointsTest.js
  suites/apis/etlTest.js
  suites/apis/exportToWorkspaceTest.js
  suites/apis/linkGoogleAccountTest.js
  suites/apis/metadataIngestionTest.js
  suites/apis/presignedUrlTest.js
  suites/apis/rasIntegrationTest.js
  suites/apis/userTokenTest.js
  suites/guppy/guppyTest.js
  suites/mariner/marinerIntegrationTest.js
  suites/portal/404pageTest.js
  suites/portal/coremetadatapageTest.js
  suites/portal/dashboardReportsTest.js
  suites/portal/dataExplorerTest.js
  suites/portal/dataUploadTest.js
  suites/portal/dataguidOrgTest.js
  suites/portal/discoveryPageTest.js
  suites/portal/exportPfbToWorkspaceTest.js
  suites/portal/exportToWorkspaceTest.js
  suites/portal/homepageTest.js
  suites/portal/indexingPageTest.js
  suites/portal/landingPageButtonsTest.js
  suites/portal/loginPageTest.js
  suites/portal/pfbExportTest.js
  suites/portal/profilePageTest.js
  suites/portal/rasAuthN.js
  suites/portal/registerUserTest.js
  suites/portal/studyViewerTest.js
  suites/portal/tieredAccessTest.js
Labels: test-apis-aggMDSTest

#739 Add integration tests to "flexible-permissions in Requestor" feature
  run-tests.sh
  services/apis/requestor/requestorTasks.js
  suites/apis/auditServiceTest.js
  suites/apis/requestorTest.js
Labels: test-apis-aggMDSTest

#752 Dont run tests when required service is not deployed
  suites/apis/requestorTest.js
  suites/portal/coremetadatapageTest.js
Labels: test-portal-homepageTest

#753 update test data with the new fields added
  suites/portal/discoveryPageTest.js
Labels: test-portal-discoveryPageTest

#755 fix datadog cluster agent name
  hooks/test_results.js
Labels: test-portal-homepageTest

#754 increase timeouts for dataguids tests
  suites/portal/dataguidOrgTest.js
Labels: test-portal-homepageTest
