Repository uc-cdis/gen3-qa, pull requests merged in 2022-03, with the labels that each got.

#773 adding hatchery service to the service-list
  run-tests.sh
Labels: test-portal-studyViewerTest

#775 fixing the nonce idtoken error
  suites/pre-release/dcf/5.oidcFlowTest.js
Labels: test-portal-homepageTest

#776 increase wait time for `Open in Workspace`
  suites/portal/discoveryPageTest.js
Labels: test-portal-discoveryPageTest

#777 minor fixes to Pre-Release tests
  suites/pre-release/dcf/2.serviceAccountsRegistrationTest.js
  suites/pre-release/dcf/4.preSignedURLTest.js
  suites/pre-release/dcf/6.indexdTest.js
Labels: test-portal-studyViewerTest

#778 PFB test: fail if the necessary file is not there
  suites/portal/pfbExportTest.js
Labels: test-portal-pfbExportTest

#743 test dataguid according to manifest dist
  suites/portal/dataguidOrgTest.js
Labels: test-portal-homepageTest

#780 Fix/drs test
  load-testing/ga4gh/drs-performance.js
Labels: test-portal-homepageTest

#782 fix: require sower instead of indexd
  suites/portal/discoveryPageTest.js
Labels: test-portal-studyViewerTest

#781 Chore/automating pre release
  suites/pre-release/dcf/2.serviceAccountsRegistrationTest.js
  suites/pre-release/dcf/4.preSignedURLTest.js
Labels: test-google-googleDataAccessTest, test-apis-dbgapTest, test-apis-metadataIngestionTest, test-portal-studyViewerTest, test-apis-requestorTest

#787 move etl test validation to the respective test
  suites/apis/etlTest.js
Labels: test-apis-etlTest
