Repository uc-cdis/gen3-qa, pull requests merged in 2022-04, with the labels that each got.

#790 add tags for load tests
  .secrets.baseline
  load-testing/audit-service/audit-login.js
  load-testing/audit-service/audit-presigned-url.js
  load-testing/fence/presigned-url.js
  load-testing/fence/service-account-patch.js
  load-testing/fence/synapse-fence.js
  load-testing/ga4gh/drs-performance.js
  load-testing/indexd/create-indexd-records.js
  load-testing/indexd/drs-endpoint.js
  load-testing/loadTestRunner.js
  load-testing/metadata-service/create-and-query.js
  load-testing/metadata-service/filter-large-database.js
  load-testing/portal/study-viewer.js
  load-testing/sheepdog/export-clinical-metadata.js
  load-testing/sheepdog/import-clinical-metadata.js
Labels: test-portal-homepageTest

#785 (PXP-9639): Clean up Elasticsearch indices after ETL and PFB export tests
  services/apis/etl/etlProps.js
  services/apis/etl/etlQuestions.js
  services/apis/etl/etlTasks.js
  suites/apis/etlTest.js
  suites/portal/pfbExportTest.js
Labels: test-apis-etlTest

#792 remove mariner
  run-tests.sh
  scripts/list-all-test-suites-for-ci.py
  suites/mariner/marinerIntegrationTest.js
  suites/mariner/workflows/no_input_test/request_body.json
  suites/mariner/workflows/no_input_test/workflow/cwl/expressiontool_test.cwl
  suites/mariner/workflows/no_input_test/workflow/cwl/gen3_test.cwl
  suites/mariner/workflows/no_input_test/workflow/cwl/initdir_test.cwl
  suites/mariner/workflows/no_input_test/workflow/cwl/scatter_test.cwl
  suites/mariner/workflows/no_input_test/workflow/cwl/subworkflow_test.cwl
  suites/mariner/workflows/no_input_test/workflow/inputs.json
  suites/mariner/workflows/no_input_test/workflow/workflow.json
  utils/marinerUtil.js
Labels: test-portal-homepageTest

#791 (PXP-9639): fix ES cleanup after PFB Export
  suites/portal/pfbExportTest.js
Labels: test-apis-dbgapTest

#793 await for generateLib
  load-testing/loadTestRunner.js
Labels: test-portal-homepageTest

#794 use test_scenario as the tag
  load-testing/audit-service/audit-login.js
  load-testing/audit-service/audit-presigned-url.js
  load-testing/fence/presigned-url.js
  load-testing/fence/service-account-patch.js
  load-testing/fence/synapse-fence.js
  load-testing/ga4gh/drs-performance.js
  load-testing/indexd/create-indexd-records.js
  load-testing/indexd/drs-endpoint.js
  load-testing/metadata-service/create-and-query.js
  load-testing/metadata-service/filter-large-database.js
  load-testing/portal/study-viewer.js
  load-testing/sheepdog/export-clinical-metadata.js
  load-testing/sheepdog/import-clinical-metadata.js
Labels: test-portal-homepageTest

#795 remove duplicate code from loadtestrunner
  load-testing/loadTestRunner.js
Labels: test-portal-homepageTest

#796 adding executableTests for ras cronjob validation
  suites/apis/rasCronjobValidate.js
Labels: test-portal-discoveryPageTest
