Repository uc-cdis/gen3-qa, pull requests merged in 2022-07, with the labels that each got.

#829 fix(drs-performance.js): pagination bug
  load-testing/ga4gh/drs-performance.js
Labels: test-apis-etlTest, test-pidgin-getCoremetadataTest

#831 Chore/modify dicom viewer test
  suites/dicomViewer/dicomViewerTest.js
Labels: test-portal-homepageTest

#833 try to delete _0 indices always
  services/apis/etl/etlTasks.js
Labels: test-google-googleServiceAccountKeyTest, test-portal-discoveryPageTest

#817 Chore/global frontend root
  .vscode/launch.json
  codecept.conf.js
  docker-compose-test-infra.yaml
  gen3.qa.in.a.box.codecept.conf.js
  run-tests.sh
  services/apis/fence/fenceSequences.js
  services/apis/fence/fenceTasks.js
  services/portal/coreMetadataPage/coreMetadataPageProps.js
  services/portal/dataUpload/dataUploadProps.js
  services/portal/discovery/discoveryProps.js
  services/portal/explorer/explorerProps.js
  services/portal/explorer/explorerTasks.js
  services/portal/exportToWorkspace/exportToWorkspaceProps.js
  services/portal/gen3ffLandingPage/gen3ffLandingPageProps.js
  services/portal/gen3ffLandingPage/gen3ffLandingPageQuestions.js
  services/portal/gen3ffLandingPage/gen3ffLandingPageService.js
  services/portal/gen3ffLandingPage/gen3ffLandingPageTasks.js
  services/portal/home/homeProps.js
  services/portal/indexing/indexingProps.js
  services/portal/login/loginProps.js
  services/portal/profile/props.js
  services/portal/studyViewer/studyViewerProps.js
  services/portal/workspace/workspaceProps.js
  suites/portal/gen3ffLandingPageTest.js
  suites/portal/landingPageButtonsTest.js
  suites/portal/loginPageTest.js
  suites/portal/pfbExportTest.js
  suites/portal/registerUserTest.js
  utils/portal.js
Labels: test-portal-homepageTest
