Repository uc-cdis/gen3-qa, pull requests merged in 2022-12, with the labels that each got.

#877 PXP-10526 OIDC client expiration
  .secrets.baseline
  codecept.conf.js
  gen3.qa.in.a.box.codecept.conf.js
  helpers/cdisHelper.js
  run-tests.sh
  services/apis/fence/fenceProps.js
  services/apis/fence/fenceTasks.js
  services/portal/studyViewer/studyViewerProps.js
  suites/apis/clientCredGrantTest.js
  suites/apis/oidcClientTest.js
  suites/portal/workspacePageTest.js
  test_setup.js
Labels: test-portal-discoveryPageTest

#883 exclude last scenario from metadataIngestionTest
  suites/apis/metadataIngestionTest.js
Labels: test-portal-homepageTest

#884 Use bash+curl instead of sendDeleteRequest
  services/apis/mds/mdsTasks.js
  suites/apis/metadataIngestionTest.js
Labels: test-apis-metadataIngestionTest

#866 fixing the OIDC test
  suites/pre-release/dcf/5.oidcFlowTest.js
Labels: test-google-googleServiceAccountRemovalTest

#880 request list from requestor for test
  services/apis/requestor/requestorTasks.js
  suites/apis/clientCredGrantTest.js
Labels: test-portal-homepageTest

#839 Chore/add requestor role ids
  run-tests.sh
  services/apis/requestor/requestorTasks.js
  suites/apis/requestorNewTest.js
  suites/apis/requestorTest.js
Labels: test-portal-homepageTest
