Repository uc-cdis/gen3-qa, pull requests merged in 2022-05, with the labels that each got.

#800 adding RAS DRS Tests
  hooks/test_conditions.js
  package-lock.json
  package.json
  suites/apis/rasDRSTest.js
Labels: test-portal-homepageTest

#804 adding the hooks to the config
  codecept.conf.js
Labels: test-portal-homepageTest

#807 fix: ras test before suite
  suites/apis/rasDRSTest.js
Labels: jenkins-niaid, test-apis-dbgapTest, test-portal-studyViewerTest

#810 disabling studyViewer test (for now)
  run-tests.sh
Labels: test-portal-dataUploadTest

#811 dicom load tests on jenkins2
  load-testing/dicom-server/metadata.js
  load-testing/dicom-viewer/study.js
  load-testing/loadTestRunnerV2.js
  load-testing/sample-descriptors/load-test-dicom-server-metadata.json
  load-testing/sample-descriptors/load-test-dicom-viewer-study.json
Labels: test-portal-homepageTest

#809 Add test condition to register user tests
  hooks/test_conditions.js
  suites/portal/registerUserTest.js
Labels: test-portal-homepageTest

#813 publish debug logs only in DEBUG mode
  .secrets.baseline
  getAccessToken.js
  hooks/test_conditions.js
  load-testing/generate_jsons.js
  run-tests.sh
  services/apis/auditService/auditServiceTasks.js
  services/apis/etl/etlTasks.js
  services/apis/fence/fenceQuestions.js
  services/apis/fence/fenceSequences.js
  services/apis/fence/fenceTasks.js
  services/apis/indexd/indexdQuestions.js
  services/apis/indexd/indexdTasks.js
  services/apis/manifestService/manifestServiceTasks.js
  services/apis/mds/mdsTasks.js
  services/apis/pidgin/pidginQuestions.js
  services/apis/requestor/requestorTasks.js
  services/portal/home/homeTasks.js
  services/portal/indexing/indexingTasks.js
  suites/access/accessGUITest.js
  suites/apis/OAuth2Test.js
  suites/apis/centralizedAuth.js
  suites/apis/drsEndpointsTest.js
  suites/apis/metadataIngestionTest.js
  suites/apis/presignedUrlTest.js
  suites/apis/rasDRSTest.js
  suites/apis/rasIntegrationTest.js
  suites/batch/GoogleBucketManifestGenerationTest.js
  suites/batch/S3BucketManifestGenerationTest.js
  suites/google/googleServiceAccountKeyTest.js
  suites/google/googleServiceAccountTest.js
  suites/portal/dataUploadTest.js
  suites/portal/dataguidOrgTest.js
  suites/portal/indexingPageTest.js
  suites/portal/pfbExportTest.js
  suites/portal/rasAuthN.js
  suites/portal/registerUserTest.js
  suites/sheepdogAndPeregrine/submitAndQueryNodesTest.js
  test_setup.js
  utils/apiUtil.js
  utils/commons.js
  utils/dataUpload.js
  utils/google.js
  utils/nodes.js
  utils/rasAuthN.js
  utils/user.js
Labels: test-portal-homepageTest

#802 add @e2e annotation to tests
  suites/apis/dataUploadTest.js
  suites/apis/dbgapTest.js
  suites/portal/pfbExportTest.js
  suites/portal/registerUserTest.js
  suites/portal/studyViewerTest.js
Labels: test-portal-homepageTest
