Repository uc-cdis/gen3-qa, pull requests merged in 2022-08, with the labels that each got.

#818 Adding Non-DBGap project usersync Tests
  codecept.conf.js
  docs/testplans/non-DBGap_usersync/non-DBGap_usersync_testPlan.md
  hooks/test_conditions.js
  services/apis/nondbgapUsersync/nonDbgapService.js
  services/apis/nondbgapUsersync/nonDbgapTasks.js
  suites/apis/nonDbgapUsersyncTest.js
Labels: test-portal-homepageTest

#834 adding annotations to the test scenarios
  run-tests.sh
  suites/apis/nonDbgapUsersyncTest.js
Labels: jenkins-dcp, test-portal-discoveryPageTest

#842 Fix/fix registeruser url
  suites/portal/registerUserTest.js
Labels: test-portal-homepageTest

#843 commenting out agg mds delete validation
  suites/apis/aggMDSTest.js
Labels: test-apis-aggMDSTest

#836 add pfb export test hook
  gen3.qa.in.a.box.codecept.conf.js
  hooks/test_conditions.js
Labels: test-portal-homepageTest

#837 add afterSuite to delete requests
  services/apis/requestor/requestorTasks.js
  suites/apis/requestorNewTest.js
  suites/apis/requestorTest.js
Labels: test-portal-discoveryPageTest

#847 do not run agg mds sync after test run
  suites/apis/aggMDSTest.js
Labels: test-portal-homepageTest

#799 Add GWAS tests
  run-tests.sh
  services/portal/GWAS/GWASProps.js
  services/portal/GWAS/GWASQuestions.js
  services/portal/GWAS/GWASTasks.js
  suites/portal/GWASUITest.js
Labels: test-portal-homepageTest

#848 fixing nonDBGaP project usersync tests
  services/apis/nondbgapUsersync/nonDbgapTasks.js
  suites/apis/nonDbgapUsersyncTest.js
Labels: test-portal-discoveryPageTest

#846 wait for workspace
  services/portal/workspace/workspaceTasks.js
Labels: jenkins-brain, test-portal-discoveryPageTest
