Repository uc-cdis/gen3-qa, pull requests merged in 2022-11, with the labels that each got.

#851 adding Fence client_Creds tests
  run-tests.sh
  services/apis/fence/fenceTasks.js
  services/apis/requestor/requestorTasks.js
  suites/apis/clientCredGrantTest.js
  utils/apiUtil.js
Labels: test-apis-clientCredGrantTest

#865 fix(install-pypfb): ensure pip is up to date
  suites/portal/pfbExportTest.js
Labels: test-apis-etlTest

#864 refactoring client functions for fence
  package-lock.json
  services/apis/fence/fenceProps.js
  services/apis/fence/fenceTasks.js
  suites/apis/clientCredGrantTest.js
Labels: test-apis-clientCredGrantTest

#873 fixing the Auth tests in jenkins
  services/apis/fence/fenceProps.js
Labels: test-apis-centralizedAuth

#872 Chore/add test data to agg mds test
  .vscode/launch.json
  suites/apis/aggMDSTest.js
  test-data/aggMDSTest/study1.json
  test-data/aggMDSTest/study2.json
  test-data/aggMDSTest/study3.json
Labels: test-apis-aggMDSTest

#875 remove lint-diff and update eslintdiff script
  .travis.yml
  package-lock.json
  package.json
  run-tests.sh
Labels: test-portal-homepageTest

#876 fix `after all` hooks
  package-lock.json
  package.json
  run-tests.sh
  suites/apis/auditServiceTest.js
  suites/apis/centralizedAuth.js
  suites/apis/clientCredGrantTest.js
  suites/apis/dataUploadTest.js
  suites/apis/dbgapTest.js
  suites/apis/drsEndpointsTest.js
  suites/apis/etlTest.js
  suites/apis/linkGoogleAccountTest.js
  suites/apis/metadataIngestionTest.js
  suites/apis/nonDbgapUsersyncTest.js
  suites/apis/presignedUrlTest.js
  suites/batch/GoogleBucketManifestGenerationTest.js
  suites/batch/S3BucketManifestGenerationTest.js
  suites/google/googleDataAccessTest.js
  suites/google/googleServiceAccountRemovalTest.js
  suites/pidgin/getCoremetadataTest.js
  suites/portal/coremetadatapageTest.js
  suites/portal/dataUploadTest.js
  suites/portal/indexingPageTest.js
  suites/portal/pfbExportTest.js
  suites/sheepdogAndPeregrine/submitFileTest.js
Labels: test-google-googleDataAccessTest, test-portal-dataUploadTest

#874 Update clientCredGrantTest.js
  suites/apis/clientCredGrantTest.js
Labels: test-portal-homepageTest
