Repository uc-cdis/gen3-qa, pull requests merged in 2022-02, with the labels that each got.

#756 Increase timeout in dataguids test
  suites/portal/dataguidOrgTest.js
Labels: test-portal-homepageTest

#750 chore: adding more service tags to tests
  suites/portal/dataUploadTest.js
  suites/portal/indexingPageTest.js
  suites/portal/rasAuthN.js
  suites/portal/studyViewerTest.js
Labels: test-apis-centralizedAuth, test-portal-studyViewerTest

#760 use unaligned_reads_file for vpodc in pfbExport
  suites/portal/pfbExportTest.js
Labels: test-google-googleServiceAccountRemovalTest, test-portal-studyViewerTest

#761 Chore/add workspace tests
  .gitignore
  .vscode/launch.json
  codecept.conf.js
  docker-compose-test-infra.yaml
  services/portal/workspace/workspaceProps.js
  services/portal/workspace/workspaceQuestions.js
  services/portal/workspace/workspaceService.js
  services/portal/workspace/workspaceTasks.js
  suites/portal/workspacePageTest.js
  utils/apiUtil.js
Labels: test-portal-homepageTest

#763 testing datadog connection
  hooks/test_results.js
  package-lock.json
  package.json
Labels: test-portal-homepageTest

#758 feat(mtls): add mtls support to drs performance test script
  load-testing/ga4gh/drs-performance.js
  load-testing/loadTestRunner.js
  load-testing/sample-descriptors/load-test-ga4gh-drs-performance-sample.json
Labels: test-portal-studyViewerTest, test-apis-aggMDSTest

#771 chore(pfbexport): add more logs to failing guppy mutation
  suites/portal/pfbExportTest.js
Labels: test-portal-studyViewerTest

#772 heal e2e test with drs-pull in notebook
  gen3.qa.in.a.box.codecept.conf.js
  hooks/test_results.js
  run-tests.sh
  services/portal/workspace/workspaceTasks.js
  suites/apis/aggMDSTest.js
  suites/apis/metadataIngestionTest.js
  suites/portal/discoveryPageTest.js
Labels: jenkins-new, test-portal-discoveryPageTest

#774 chore: adding service tags to the test
  suites/portal/dataExplorerTest.js
  suites/portal/dataUploadTest.js
  suites/portal/discoveryPageTest.js
  suites/portal/exportPfbToWorkspaceTest.js
  suites/portal/exportToWorkspaceTest.js
  suites/portal/studyViewerExportToWorkspaceTest.js
Labels: test-apis-dbgapTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-portal-studyViewerTest, test-apis-requestorTest

#770 fix: fixing pre-release tests
  services/apis/fence/fenceProps.js
  suites/pre-release/dcf/2.serviceAccountsRegistrationTest.js
  suites/pre-release/dcf/4.preSignedURLTest.js
Labels: test-portal-homepageTest
