Repository uc-cdis/gen3-qa, pull requests merged in 2022-06, with the labels that each got.

#821 Fix 'checkPod' logic
  utils/apiUtil.js
Labels: test-portal-studyViewerTest, skip-quay-build

#826 Disable study viewer tests
  run-tests.sh
Labels: test-portal-homepageTest

#823 (PXP-9960): test 401 for wrong permission in rasDRSTest.js
  package-lock.json
  package.json
  services/apis/rasDrs/rasProps.js
  services/apis/rasDrs/rasTasks.js
  suites/apis/rasDRSTest.js
Labels: test-google-googleDataAccessTest

#827 Study viewer: wait before checking the request
  services/apis/requestor/requestorTasks.js
  suites/portal/studyViewerTest.js
Labels: test-portal-studyViewerTest
