Repository uc-cdis/gen3-qa, pull requests merged in 2023-08, with the labels that each got.

#989 enabling hatchery test scenario
  services/portal/exportToWorkspace/exportToWorkspaceSequences.js
  services/portal/exportToWorkspace/exportToWorkspaceTasks.js
  suites/portal/exportToWorkspaceTest.js
Labels: jenkins-genomel, test-portal-exportToWorkspaceTest

#982 Adding gen3-client tests
  archived/suites/gen3-client/gen3clientTest.js
  package-lock.json
  package.json
  run-tests.sh
  suites/gen3client/gen3clientTest.js
  utils/file.js
Labels: test-google-googleDataAccessTest, test-apis-etlTest, test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest

#991 Don't skip pfbExportTest for pelican PRs
  run-tests.sh
Labels: test-portal-homepageTest

#992 Fix run-tests for pfbExport
  run-tests.sh
Labels: test-portal-homepageTest
