Repository uc-cdis/gen3-qa, pull requests merged in 2023-01, with the labels that each got.

#892 Fix/discovery page test flow
  codecept.conf.js
  gen3.qa.in.a.box.codecept.conf.js
  services/portal/discovery/discoveryProps.js
  services/portal/workspace/workspaceTasks.js
  suites/apis/aggMDSTest.js
  suites/portal/discoveryPageTest.js
  test-data/aggMDSTest/study1.json
Labels: test-portal-discoveryPageTest

#891 fix/requestorRoleIdTest
  suites/apis/requestorTest.js
Labels: test-apis-requestorTest

#897 Get chrome version and use the value to install chromedriver
  run-tests.sh
Labels: test-portal-homepageTest

#898 Get the summary field name dynamically from config
  suites/portal/discoveryPageTest.js
Labels: test-portal-discoveryPageTest

#900 debug dbgap tests
  suites/apis/dbgapTest.js
Labels: test-apis-dbgapTest

#903 fix discoverypagetest
  README.md
  test-data/aggMDSTest/study2.json
  test-data/aggMDSTest/study3.json
Labels: test-portal-discoveryPageTest, test-apis-aggMDSTest

#902 Add new field in AggMDS metadata for BRH
  test-data/aggMDSTest/study1.json
Labels: test-portal-discoveryPageTest
