Repository uc-cdis/gen3-qa, pull requests merged in 2023-03, with the labels that each got.

#918 Update packages
  package-lock.json
  package.json
Labels: test-portal-homepageTest

#917 Chore/gwas tests
  codecept.conf.js
  gen3.qa.in.a.box.codecept.conf.js
  services/portal/GWASUIApp/GWASUIAppProps.js
  services/portal/GWASUIApp/GWASUIAppService.js
  services/portal/GWASUIApp/GWASUIAppTasks.js
  suites/portal/GWASUIAppTest.js
Labels: test-apis-metadataIngestionTest

#919 Handle unneeded logs
  helpers/cdisHelper.js
Labels: test-portal-homepageTest

#921 Try catch system use message popup existence
  services/portal/home/homeTasks.js
Labels: test-portal-homepageTest

#922 Rename coremetadata suite
  suites/coremetadata/coremetadata.feature
  suites/coremetadata/getCoremetadataTest.js
  suites/coremetadata/testPlan.md
Labels: test-coremetadata-getCoremetadataTest

#923 Revert "Try catch system use message popup existence"
  services/portal/home/homeTasks.js
Labels: test-portal-homepageTest

#925 Fix systemUse at login
  services/portal/home/homeSequences.js
  services/portal/home/homeTasks.js
  suites/portal/coremetadatapageTest.js
Labels: test-portal-homepageTest, test-portal-loginPageTest, test-portal-indexingPageTest, test-portal-dataUploadTest, test-portal-exportToWorkspaceTest, test-portal-studyViewerTest, test-portal-pfbExportTest, test-portal-coremetadatapageTest, test-portal-discoveryPageTest

#838 refactoring studyViewer test code
  services/apis/requestor/requestorTasks.js
  suites/portal/studyViewerTest.js
Labels: test-portal-studyViewerTest, test-apis-requestorTest

#930 Do not look for core metadata citation on portal page
  services/portal/coreMetadataPage/coreMetadataPageQuestions.js
Labels: test-portal-coremetadatapageTest
