Repository uc-cdis/gen3-qa, pull requests merged in 2023-05, with the labels that each got.

#950 Remove requestor dependency from client creds rotation test
  .pre-commit-config.yaml
  .secrets.baseline
  services/apis/indexd/indexdTasks.js
  suites/apis/oidcClientTest.js
Labels: test-apis-oidcClientTest

#948 Use the default `donot` logic for labeled PRs
  run-tests.sh
Labels: test-portal-coremetadatapageTest

#953 Use separate container for selenium
  run-tests.sh
Labels: @requires-portal

#955 Fix test tag for audit-service tests
  run-tests.sh
  suites/apis/auditServiceTest.js
Labels: test-apis-auditServiceTest

#957 Skip dataguids test conditionally
  run-tests.sh
Labels: test-portal-homepageTest

#959 Remove unnecessary quotes
  run-tests.sh
Labels: test-portal-homepageTest

#961 Fix run tests logic for unlabeled PRs
  run-tests.sh
Labels: test-portal-homepageTest

#958 Adding appropriate requires service labels to test
  suites/coremetadata/getCoremetadataTest.js
  suites/portal/coremetadatapageTest.js
  suites/portal/dataUploadTest.js
  suites/portal/discoveryPageTest.js
  suites/portal/exportToWorkspaceTest.js
  suites/portal/registerUserTest.js
Labels: test-apis-etlTest

#926 StudyRegistration Tests
  hooks/test_conditions.js
  services/apis/requestor/requestorTasks.js
  services/portal/studyRegistration/studyRegistrationProps.js
  services/portal/studyRegistration/studyRegistrationServices.js
  services/portal/studyRegistration/studyRegistrationTasks.js
  suites/portal/studyRegistrationTest.js
  test-data/studyRegistrationTest/studyRegistrationData.json
Labels: test-portal-homepageTest

#963 Add getUserTokensWithClient_getConsentCode.png screenshot
  services/apis/fence/fenceSequences.js
Labels: test-apis-centralizedAuth

#962 Improve core metadata test errors
  services/apis/fence/fenceTasks.js
  services/apis/peregrine/peregrineTasks.js
  suites/coremetadata/getCoremetadataTest.js
Labels: test-portal-coremetadatapageTest, test-coremetadata-getCoremetadataTest

#951 Automatest Tests for GWAS results app
  services/portal/GWASUIApp/GWASUIAppProps.js
  services/portal/GWASUIApp/GWASUIAppTasks.js
  suites/portal/GWASUIAppTest.js
Labels: test-portal-homepageTest
