Repository uc-cdis/gen3-qa, pull requests merged in 2023-04, with the labels that each got.

#931 change core metadata page screenshot timing
  services/portal/coreMetadataPage/coreMetadataPageQuestions.js
  services/portal/coreMetadataPage/coreMetadataPageTasks.js
Labels: test-portal-coremetadatapageTest

#933 Disable audit service test that uses RAS login
  suites/apis/auditServiceTest.js
Labels: test-apis-auditServiceTest

#944 PXP-10910 Test that rotated client credentials have access
  codecept.conf.js
  gen3.qa.in.a.box.codecept.conf.js
  run-tests.sh
  services/apis/requestor/requestorService.js
  suites/apis/oidcClientTest.js
Labels: test-apis-oidcClientTest

#932 Run tests by specific tag
  .secrets.baseline
  run-tests.sh
Labels: test-portal-dataUploadTest, test-google-googleServiceAccountRemovalTest, test-portal-coremetadatapageTest
