Repository uc-cdis/gen3-qa, pull requests merged in 2023-10, with the labels that each got.

#987 Test GWASUI in jenkins
  run-tests.sh
  services/portal/GWASUIApp/GWASUIAppProps.js
  services/portal/GWASUIApp/GWASUIAppTasks.js
  suites/portal/GWASUIAppTest.js
Labels: jenkins-genomel, skip-k8s-cleanup, test-portal-GWASUIAppTest

#1001 Chore/move old gwas tests to archive
  archived/suites/portal/GWASUITest.js
Labels: test-portal-homepageTest

#1004 fix summary identification
  utils/apiUtil.js
Labels: test-portal-homepageTest

#1003 Add test_hook for GWAS UI test
  hooks/test_conditions.js
Labels: test-apis-etlTest

#1005 remove hardcoded GWASUI workflow from tests
  services/portal/GWASUIApp/GWASUIAppProps.js
  suites/portal/GWASUIAppTest.js
Labels: test-portal-homepageTest
