Repository uc-cdis/gen3-qa, pull requests merged in 2023-12, with the labels that each got.

#1013 moving the GWAS service into one folder
  codecept.conf.js
  gen3.qa.in.a.box.codecept.conf.js
  services/portal/GWAS/GWASProps.js
  services/portal/GWAS/GWASService.js
  services/portal/GWAS/GWASTasks.js
  services/portal/GWASUIApp/GWASUIAppProps.js
  services/portal/GWASUIApp/GWASUIAppService.js
  services/portal/GWASUIApp/GWASUIAppTasks.js
  suites/portal/GWASUIAppTest.js
Labels: test-google-googleDataAccessTest, test-portal-exportToWorkspaceTest, test-portal-discoveryPageTest

#1023 Print logs of failed pods after giving up
  utils/apiUtil.js
Labels: test-coremetadata-getCoremetadataTest

#1024 Update datadog host for CI observability
  hooks/test_results.js
Labels: test-portal-homepageTest
