Repository uc-cdis/gen3-qa, pull requests merged in 2024-04, with the labels that each got.

#1038 disabling studyViewer tests
  run-tests.sh
Labels: test-portal-homepageTest

#1035 debug the study registration test
  services/portal/studyRegistration/studyRegistrationTasks.js
  suites/portal/studyRegistrationTest.js
  test-data/studyRegistrationTest/studyRegistrationData.json
Labels: jenkins-new-1, test-portal-studyRegistrationTest

#1032 chore: updating the GWAS test to support team project selection
  run-tests.sh
  services/portal/GWAS/GWASProps.js
  services/portal/GWAS/GWASTasks.js
  suites/portal/GWASUIAppTest.js
Labels: jenkins-genomel, skip-k8s-cleanup, test-portal-GWASUIAppTest

#1039 Disabling GWAS test in CI
  run-tests.sh
Labels: test-portal-homepageTest

#1037 feat(BDC-56): Cascading Authz Integration Tests
  docs/howto/authentication_file_phs001194.txt
  docs/howto/cascading-auth-config.md
  suites/apis/dbgapTest.js
Labels: test-apis-dbgapTest
